var topologyData = {
	"nodes": [
{%- for node in nodes -%}
		{
			"id":"{{ node.iso }}",
			"name": "{{ node.name }}"
		},
{% endfor %}

 		{
			"id": "{{ lastnode.iso }}",
			"name": "{{ lastnode.name }}"
		}


			],
	"links": [
{%- for link in links -%}
		{
			"id": "{{ link.link_index }}",
			"source": "{{ link.source_net }}",
			"target":"{{ link.destination_net }}"
		},
{% endfor %}

 		{
			"id": "{{ lastlink.link_index }}",
			"source": "{{ lastlink.source_net }}",
			"target": "{{ lastlink.destination_net }}"
		}
		]
};
