var topologyData = {
	"nodes": [
{%- for node in nodes -%}
		{
			"id":"{{ node.iso }}",
			"name": "{{ node.name }}"
		},
{% endfor %}

		{
			"id":"005",
			"name": "ext005",
			"status": "ext"
		},
		{
			"id":"010",
			"name": "ext010",
			"status":"ext"
		},
        {
			"id":"pe1",
			"name": "intpe1",
			"status":"int"
		},
        {
			"id":"mt1",
			"name": "intmt1",
			"status":"mtc"
		},
		        {
			"id":"pop1",
			"name": "intpop1",
			"status":"pop"
		},
 		{
			"id": "{{ lastnode.iso }}",
			"name": "{{ lastnode.name }}"
		}


			],
	"links": [
{%- for link in links -%}
		{
			"id": "{{ link.link_index }}",
			"source": "{{ link.source_net }}",
			"target":"{{ link.destination_net }}"
		},
{% endfor %}
		{
			"id": "502",
			"source": "005",
			"target":"0000.0000.0002"
		},
		{
			"id": "506",
			"source": "005",
			"target":"0000.0000.0006"
		},
		{
			"id": "205",
			"source": "0000.0000.0002",
			"target":"005"
		},
		{
			"id": "605",
			"source": "0000.0000.0006",
			"target":"005"
		},

		{
			"id": "1002",
			"source": "010",
			"target":"0000.0000.0002"
		},
		{
			"id": "1006",
			"source": "010",
			"target":"0000.0000.0006"
		},
		{
			"id": "2010",
			"source": "0000.0000.0002",
			"target":"010"
		},
		{
			"id": "6010",
			"source": "0000.0000.0006",
			"target":"010"
		},


		{
			"id": "pe1001",
			"source": "pe1",
			"target":"0000.0000.0001"
		},
		{
			"id": "pe1003",
			"source": "pe1",
			"target":"0000.0000.0003"
		},
		{
			"id": "100pe1",
			"source": "0000.0000.0001",
			"target":"pe1"
		},
		{
			"id": "300pe1",
			"source": "0000.0000.0003",
			"target":"pe1"
		},


		{
			"id": "pe1pop1",
			"source": "pe1",
			"target":"pop1"
		},
		{
			"id": "pop1pe1",
			"source": "pop1",
			"target":"pe1"
		},


		{
			"id": "mt1002",
			"source": "mt1",
			"target":"0000.0000.0002"
		},
		{
			"id": "2mt1",
			"source": "0000.0000.0002",
			"target":"mt1"
		},

 		{
			"id": "{{ lastlink.link_index }}",
			"source": "{{ lastlink.source_net }}",
			"target": "{{ lastlink.destination_net }}"
		}
		]
};
